<html>
  <body style="font-size:14px">
    <h2>{{list.title}}</h2>
    <ul>
      {{#each list.items as |item|}}
        <li>{{item}}</li>
      {{/each}}
    </ul>
    <h4>{{fullName person}}</h4>
  </body>
</html>
